.logo {
	height:144px;
	width:212px;
	margin-top:19px;
	margin-left:0px;
	margin-top: -15px;
}

header {
	position: relative	;
	right: 250px;
	left: 250px;
	width:1018px;
	height:148px;
	background-color: white;
}

main {
	position: relative;
	right: 250px;
	left: 250px;
	width:1018px;
	height:4250px;
	background-color: white;
}

.foot {
	width: 1018px;
	height: 500px;
	position: relative;
	right: 250px;
	left: 250px;
	box-shadow: 0px 7px 20px 1px #C0C0C0;
}

body {
	background: linear-gradient(#F5DEB3, #F08080);
}

.fbook {
	position: relative;
	top: 800px;
}

.baner {
	width:1018px;
	height:320px;
}

.book {
	width:205px;
	height:312px;
	margin-top:354px;
}

.latka {
	width: 1018px;
	height: 80px;
}

.textpopular {
	background-color: FAEADB;
	padding-left:46px;
	padding-right:46px;
	padding-top:26px;
	padding-bottom:26px;
	color: 994646;
	font-family: sans-serif;
	font-size: 17px;
	width: 300px;
	height: 63px;
}

.spez {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 15px;
	background-color: lightgray;
	position: relative;
	left: 201px;
	top: 100px;
	bottom: 25px;
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}

.spez:hover {
	background-color: #C0C0C0;

}

.hudoshka {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 15px;
	background-color: lightgray;
	position: relative;
	left: 206px;
	top: 100px;
	bottom: 25px;
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}

.hudoshka:hover {
	background-color: #C0C0C0;
	
}

.naukova {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 15px;
	background-color: lightgray;
	position: relative;
	left: 204px;
	top: 100px;
	bottom: 25px;
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}

.naukova:hover {
	background-color: #C0C0C0;
	
}

.novinki {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 15px;
	background-color: lightgray;
	position: relative;
	left: 199px;
	top: 100px;
	bottom: 25px;
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}

.novinki:hover {
	background-color: #C0C0C0;
	
}


.detski {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 15px;
	background-color: lightgray;
	position: relative;
	left: 202px;
	top: 100px;
	bottom: 25px;
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}

.detski:hover {
	background-color: #C0C0C0;
	
}

.eBook {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 15px;
	background-color: lightgray;
	position: relative;
	left: 200px;
	top: 100px;
	bottom: 25px;
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}

.eBook:hover {
	background-color: #C0C0C0;
	
}

.textone {
	position: relative;
	color: black;
	top: 40px;
	left: 210px;
	font-size: 23px;
}

.texttwo {
	display: block;
	width: 770px;
	height: 60px;
	position: relative;
	top: 45px;
	left: 190px;
	margin-left: 20px;
	font-family: sans-serif;
}

.bazaje {
	position: relative;
	top: 90px;
	left: 205px;
	width: 220px;
	height: 370spx;
}

.manifest {
	position: relative;
	top: 110px;
	left: 250px;
	width: 220px;
	height: 370spx;
}

.zvichka {
	position: relative;
	top: 110px;
	left: 290px;
	width: 220px;
	height: 370spx;
}

.zanr {
	font-family: sans-serif;
	font-size: 20px;
	border: solid 2px silver;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	color: black;
	position: relative;
	top: 270px;
	right: 460px;
}	

.zanr:hover {
	color: red;
	border: solid 2px red;
}

.spisok {
	font-family: sans-serif;
	font-size: 20px;
	border: solid 2px silver;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: black;
	position: relative;
	top: 270px;
	right: 455px;
}

.spisok:hover {
	color: red;
	border: solid 2px red;
}


.histori {
	background-color: lightgray;
	font-family: sans-serif;
	position: relative;
	top: 300px;
	font-size: 22px;
	font-weight: 150;
	opacity: 0.8;
	margin-left: 210px;
	margin-right: 20px;
	padding: 13px;
	padding-left: 35px;
}

.francia {
	width: 190px;
	height: 285px;
	position: relative;
	top: 345px;
	left: 260px;
}

.han {
	width: 150px;
	height: 280px;
	position: relative;
	top: 345px;
	left: 320px;
}

.win {
	position: relative;
	width: 160px;
	height: 285px;
	top: 345px;
	left: 420px;
}


.psiholohia {
	background-color: lightgray;
	font-family: sans-serif;
	position: relative;
	top: 390px;
	font-size: 22px;
	font-weight: 150;
	opacity: 0.8;
	margin-left: 210px;
	margin-right: 20px;
	padding: 13px;
	padding-left: 35px;
}

.prihorni {
	width: 190px;
	height: 285px;
	position: relative;
	top: 435px;
	left: 270px;
}

.kradu {
	width: 150px;
	height: 200px;
	position: relative;
	top: 435px;
	left: 320px;
}

.comu {
	position: relative;
	width: 180px;
	height: 285px;
	top: 435px;
	left: 420px;
}


.motivacia {
	background-color: lightgray;
	font-family: sans-serif;
	position: relative;
	top: 490px;
	font-size: 22px;
	font-weight: 150;
	opacity: 0.8;
	margin-left: 210px;
	margin-right: 20px;
	padding: 13px;
	padding-left: 35px;
}

.roki {
	width: 150px;
	height: 285px;
	position: relative;
	top: 535px;
	left: 270px;
}

.akt {
	width: 150px;
	height: 280px;
	position: relative;
	top: 535px;
	left: 370px;
}

.idu {
	position: relative;
	width: 190px;
	height: 285px;
	top: 535px;
	left: 460px;
}


.biznes {
	background-color: lightgray;
	font-family: sans-serif;
	position: relative;
	top: 590px;
	font-size: 22px;
	font-weight: 150;
	opacity: 0.8;
	margin-left: 210px;
	margin-right: 20px;
	padding: 13px;
	padding-left: 35px;
}

.peremozec {
	width: 150px;
	height: 285px;
	position: relative;
	top: 635px;
	left: 270px;
}

.jahocu {
	width: 150px;
	height: 280px;
	position: relative;
	top: 635px;
	left: 370px;
}

.revork {
	position: relative;
	width: 180px;
	height: 285px;
	top: 635px;
	left: 460px;
}


.hobbi {
	background-color: lightgray;
	font-family: sans-serif;
	position: relative;
	top: 690px;
	font-size: 22px;
	font-weight: 150;
	opacity: 0.8;
	margin-left: 210px;
	margin-right: 20px;
	padding: 13px;
	padding-left: 35px;
}

.gastroobskura {
	width: 150px;
	height: 285px;
	position: relative;
	top: 735px;
	left: 270px;
}

.vushivanka {
	width: 185px;
	height: 285px;
	position: relative;
	top: 735px;
	left: 370px;
}

.vishivanki {
	position: relative;
	width: 185px;
	height: 295px;
	top: 745px;
	left: 430px;
}


.naukpop {
	background-color: lightgray;
	font-family: sans-serif;
	position: relative;
	top: 790px;
	font-size: 22px;
	font-weight: 150;
	opacity: 0.8;
	margin-left: 210px;
	margin-right: 20px;
	padding: 13px;
	padding-left: 35px;
}

.svitu {
	width: 150px;
	height: 285px;
	position: relative;
	top: 835px;
	left: 270px;
}

.dokinz {
	width: 185px;
	height: 285px;
	position: relative;
	top: 835px;
	left: 370px;
}

.hoking {
	position: relative;
	width: 185px;
	height: 295px;
	top: 845px;
	left: 430px;
}


.ezoteruka {
	background-color: lightgray;
	font-family: sans-serif;
	position: relative;
	top: 890px;
	font-size: 22px;
	font-weight: 150;
	opacity: 0.8;
	margin-left: 210px;
	margin-right: 20px;
	padding: 13px;
	padding-left: 35px;
}

.korolivsketaro {
	width: 190px;
	height: 285px;
	position: relative;
	top: 970px;
	left: 270px;
}

.biblia {
	width: 170px;
	height: 270px;
	position: relative;
	top: 940px;
	left: 330px;
}

.pismo {
	position: relative;
	width: 170px;
	height: 295px;
	top: 940px;
	left: 400px;
}